/* ============== General =============== */

button:focus {outline:0 !important;}
input:focus {outline:0 !important;}
body{min-width: 700px;}


hr {
    display: block;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border-color: rgba(75, 151, 135, 0.2);
}

/* =============== Font ================ */

@font-face {
    font-family: nexaBold;
    src: url(../assets/font/NexaBold.otf);
}

@font-face {
    font-family: nexaLight;
    src: url(../assets/font/NexaLight.otf);
}

@font-face {
    font-family: edosz;
    src: url(../assets/font/basictitlefont.ttf);
}


/* =============== Developer ================ */
.developerBigTitle{
  font-size: 30px;
  margin-top: 250px;
  padding: 30px 30px 30px 90px;
  margin-bottom: 120px;
  background-image: url(../assets/random-bg/up.jpg);
  color: white;
}

.developerSubTitle{
  font-size: 18px;
}

.developerContainer{
  padding: 20px;
  margin-top: 150px;
  margin-bottom: 200px;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.developerImg{
  height: 150px;
  width: 150px;
  border-radius: 10px;
}

.developerBox{
  margin-left: 150px;
  display: inline-block;
}

.developerTitle{
  font-size: 20px;
}
.techImg{
  max-height: 100px;
}

.techBox{
  margin: 30px;
  display: inline-block;
}

.techContainer{
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 260px;
}

.techBigTitle{
  font-size: 30px;
  margin-top: 280px;
  padding: 30px 30px 30px 90px;
  margin-bottom: 60px;
  background-image: url(../assets/random-bg/playerbg3.jpg);
  color: white;
}


/* ================= Modal ================== */
.modal {
  text-align: center;
}

@media screen {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}


/* ============== TOP BAR =============== */
.topBar{
  height: 80px;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 6px -6px rgba(158, 171, 195, 0.59);
     -moz-box-shadow: 0 5px 6px -6px rgba(158, 171, 195, 0.59);
          box-shadow: 0 5px 6px -6px rgba(158, 171, 195, 0.59);

  nav{
    float: right;
    vertical-align: text-top;
    text-align: right;
    width: 300px;
    margin-right: 10px;
    margin-top: 20px;
    a {
      height: 50px;
      color: #000;
      text-decoration: none;
    }
  }
  .topBarLeft{
    height: 60px;
  }

  .logoTitle{
    color: white;
    font-size: 30px;
  }

  .greeting{
    position: absolute;
    display: inline;
    font-size: 20px;
    height: 50px;
    margin-left: 20px;
    margin-top: 15px;
  }

  img{
    padding: 5px;
    margin-left: 20px;
    height: 60px;
    margin-top:10px;
  }
}
  .topButton{
    text-decoration:none;
    padding:6px 15px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    border:none;
    font-size:15px;
    cursor:pointer;
    display:inline-block;
    color: #fff;
    margin-left: 5px;
    margin-right: 5px;
  }
  .loginButton {
    background-color:#e4685d;
    text-shadow:0px 1px 0px #b23e35;
  }
  .aboutButton{
    background-color: #1AA5C1;
    text-shadow: 0px 1px 0px #167187;
  }
  .myhubButton{
    background-color: #FDBE22;
    text-shadow: 0px 1px 0px #C4A70F;
  }

  .loginButton:hover {
    background-color:#B63E33;
    text-shadow:0px 1px 0px #b23e35;
  }
  .aboutButton:hover{
    background-color: #1A869B;
    text-shadow: 0px 1px 0px #167187;
  }
  .myhubButton:hover{
    background-color: #D7A40F;
    text-shadow: 0px 1px 0px #C4A70F;
  }

  .topButton:active {
    position:relative;
    top:1px;
  }


/* ================ Auth ================= */


.authPage{

  .authBanner{

    height: 300px;
    background: url("../assets/authbanner.jpg");
    background-size: 100% 100%;

  }

  .authBannerTitle{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
    font-size: 90px;
    vertical-align: middle;
  }



}

.modalButtonBox{
    width: 80px;
    margin-left: auto;
    margin-right: auto;
}

.modalButtonBox2{
    width: 170px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.modalButtonBox3{
    width: 150px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.Carcouselbox {
    margin-top: 5%;
}

.seemore{
    text-align: center;
    border-radius: 15px;
    color: white;
    margin-top: 40px;
    margin-left: auto;
    font-size: 15px;
    background-color: #CCCCCC;
    width: 240px;
    padding: 10px;
    margin-right: auto;
}

/* ================ profile ================= */
.boxed-group-profile{
    margin-top: 30px;
    margin-left: 3%;
    padding-left: 3%;
    min-width: 500px;
    min-height: 400px;
    z-index: 10;
    border: 0px;
    float: left;
    border-left: 1px;
    border-color: rgba(13, 92, 109, 0.24);
    border-style: solid;
    max-width: 70%;
}
.pageTitle{
    text-align: center;
    color: #1C3B73;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 24px;
    display: block;
}
.profileItem{
  position: absolute;
  width: 400px;;
  top: 120px;
  left: 15%;
}

.edit-profile-avatar{
  margin: 15px 0;
  height: 150px;
}
#avatar{
    float: left;
    height: 100px;
    display: inline-block;
    overflow: hidden;
    line-height: 1;
    vertical-align: middle;
    border-radius: 3px;
}
.edit-profile{
  margin: 15px 0;
}
.edit-profile-avatar{
  margin: 15px 0;
  height: 150px;
}
.profile-input{
  width: 56%;
  margin-top: 5px;
  min-width: 180px;
}

.fileupload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileupload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}


/* ================ Home ================= */

.homeBannertitle{
    font-family: edosz;
    z-index: 999;
    width: 420px;
    top: 100px;
    left: 33%;
    color: white;
    position: absolute;
    font-size: 50px;
}

.homeBannerSubtitle{
    position: absolute;
    color: white;
    left: 32%;
    top: 145px;
    z-index: 2000;
    font-size: 12px;
}

#bg1{
    height: 100px;
    background-size: cover;
    background-image: url(../assets/random-bg/down.jpg);

  #bg11{
    height: 100px;
  }

  #bg12{
    float: right;
    height: 100px;
  }
}



.userSongTitle{
    font-size: 20px;
    position: absolute;
    margin-left: 50%;
    margin-top: 35px;
    color: #FFFFFF;
}
  .playerBox {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
  }

.playList{
    background: #FFFFFF;
    vertical-align: middle;
    height: 100%;
    margin-bottom: 20px;
    margin-left: 10px;
    min-height: 200px;
}
.songPanel {
    padding: 10px;
    z-index: 2;
    height: 76px;
    width: 280px;
    background-color: #9EC7DC;
    border-radius: 10px;
}



.songPanel2 {
    padding: 10px;
    z-index: 2;
    height: 76px;
    width: 280px;
    background-color: #9C9C9C;
    border-radius: 10px;
}

.hideItem{
  visibility: hidden;
}

.songBox {
    margin-left: 15px;
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 15px;
}


.songitem2{
    z-index: 3;
    float: left;
    width: 280px;
    padding: 8px 10px 5px 15px;
    border-radius: 10px;
    background-color: #DEDEDE;
  .title{
    font-size: 18px;
    color: #100000;
    text-transform: capitalize;
  }
}

.songItem{
    z-index: 3;
    float: left;
    width: 280px;
    padding: 8px 10px 5px 15px;
    border-radius: 10px;
    background-color: #bed4de;
  .title{
    font-size: 18px;
    color: #100000;
    text-transform: capitalize;
  }
}

.songItemActive{
  z-index: 3;
    float: left;
    width: 280px;
    padding: 8px 10px 5px 15px;
    border-radius: 10px;
    background-color: #37819A;
    color: white;
  .title{
    font-size: 18px;
    color: white;
    text-transform: capitalize;
  }
}


.songItem:hover{
  transition: background-color 0.3s;
  background-color: #37819A;
  color: white;
.title{
    color: white;
  }
}


  .itemOther{
    cursor: pointer;
    font-size: 14px;
    margin-top: 3px;
    color: #337ab7;
    float: left;
    margin-right: 5px;
    width: 26px;
    padding: 3px 0px 0px 7px;
    background-color: white;
    text-align: center;
    height: 26px;
    border-radius: 18%;
    display: -webkit-inline-box;
  }


  .itemArrow{
    font-size: 14px;
    margin-top: 3px;
    color: #6A8E9B;
    float: right;
    margin-right: 5px;
    width: 26px;
    padding: 3px 0px 0px 7px;
    background-color: white;
    text-align: center;
    height: 26px;
    border-radius: 18%;
    display: -webkit-inline-box;
  }


.like-count{
  font-size: 20px;
  color: #FF598E;
  float: right;
}

.banner{
  height: 400px !important;
  width: 100%;
}
.bannerTitle{
  font-weight: bold;
  font-size: 40px;
}

.bannerText{
  padding-bottom: 100px;
}

.sortBox{
    padding: 10px 20px 10px 20px;
    width: 100%;
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.9);
    margin-bottom: 20px;
}

.sortButton{
    color: white;
    background-color: #FF9696;
    margin-right: 20px;
    border: 0;
    padding: 5px;
    width: 70px;
    height: 30px;
    border-radius: 5px;
}

.homePageNav{
    margin-right: auto;
    margin-left: auto;
    width: 250px;
    margin-bottom: 100px;
}

/* ================ User Panel ================= */
.profilePage{
  .randomBG{
    height: 100px;
    width: 100%;

  }

  .profileImg{
      float: left;
      width: 100px;
      height: 100px;
      display: inline;
      top: 120px;
      left: 15%;
      border-radius: 100%;
      border-width: 5px;
      border-color: white;
      border-style: solid;
          z-index: 11;
  }
  .profileButton{
    font-family: nexaLight;
    background-color: #FFFFFF;
    outline: 0;
    color: #C7ABAB;
    border-style: solid;
    border-width: 1px;
    border-color: #ECCCDB;
    border-right: 0px;
    border-left: 0px;
    border-top: 0px;
    margin: 10px;
    display: block;
  }
  .profileButton:hover{
    color: #D21D6F;
    border-color: #D21D6F;
  }
  .profileButtonCollection{
    margin-top: 40px;
    margin-left: 7%;
    min-width: 100px;
    display: inline;
    float: left;
  }

}
.profileUsername{
    font-family: nexaLight;
    text-transform: capitalize;
    float: left;
    font-size: 25px;
    left: 24%;
    display: inline;
    margin-top: 60px;
}



/* ================ MusicPlayer ================= */
$common-padding: 5px;
$animate-sec: 1.5s;

.audio-player {
    opacity: 0.85;
    min-width: 780px;
    background-color: rgb(145, 129, 129);
    background-size: 100% 100%;
    vertical-align: middle;
    padding: 10px 0px 0px 0px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.audio-button-panel {
  margin-left: 20px;
}

.audio-refresh-animate {
  -webkit-animation: rotating $animate-sec linear infinite;
  -moz-animation: rotating $animate-sec linear infinite;
  -ms-animation: rotating $animate-sec linear infinite;
  -o-animation: rotating $animate-sec linear infinite;
  animation: rotating $animate-sec linear infinite;
}

.audio-progress-container {
  float: left;
  height: 35px;
  border-right: 2px solid white;
  border-left: 2px solid white;
  width: 85%;
}

.audio-progress-container-short-width {
  width: 130px;
}

.audio-progress {
  background: rgba(0, 0, 0, 0.49);
  width: 100%;
  height: 100%;
}

.audio-songs-list {
  float: left;
  margin-left: $common-padding;
}

.startbutton{
  margin-left: 15px;
}

.audio-song-item-not-selected {
  float: left;
  display: block;
  width: 14px;
  height: 1px;
}

.audio-song-item-label {
  padding-left: $common-padding;
}

.audio-rbtn{
  margin-top: 2px;
  margin-left: 2px;
}

.audio-volume-bar-container {
  float: left;
  padding-left: $common-padding;
  padding-top: 2px;


  .btn:focus {
    background-color: #fff;
    outline: none;
  }

  .audio-volume-bar {
    position: absolute;
    z-index: 1001;
    background: #FFC3C3;
    bottom: 80px;
    width: 40px;
    border: 2px;
    border-color: rgba(110, 110, 110, 0.53);
    border-style: solid;
  }

  .audio-volume-bar-hide {
    display: none;
  }

  .audio-volume-percent-container {
    border-top: 3px solid #FFE4FC;
    border-bottom: 3px solid #FFE4FC;
    width: 36px;
    height: 100px;
    position: relative;
    cursor: pointer;
  }

  .audio-volume-min-max {
    width: 100%;
    height: 30px;
    text-align: center;
    cursor: pointer;
    span {
      top: 6px;
    }
  }

  .audio-volume-percent {
    width: 100%;
    bottom: 0;
    top: 50%;
    background: #B2004F;
    position: absolute;
    width: 38px;
  }

}

.audio-desc-container {
  height: 30px;
  margin-top: 10px;
  width: 100%;
  vertical-align: middle;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.62);
  color: white;
}

.audio-time {
  margin-left: $common-padding;
  margin-right: 15px;
}

.audio-name-label {
    position: absolute;
    padding-left: 20px;
    overflow: hidden;
    top: 14px;
    left: 60px;
    font-size: 20px;
    text-transform: uppercase;
}

  .userPlayButton{
    position: absolute;
    margin-left: 70%;
    margin-top: 25px;
    width: 60px;
    height: 50px;
    border-radius: 10%;
    font-size: 25px;
  }

@keyframes rotating {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

@-webkit-keyframes rotating {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

/* ================ Tree ================= */

.treeboxfloat{
    margin-left: 5%;
    width: 400px;
}
  .treeDiv {
    position: relative;
    background-color: #929292;
  }

  .treeBox{
    float: left;
    margin-right: auto;
    /*width: 900px;*/
    width: 80%;
  }

/*
  .nodeCircle{
    fill:rgb(20, 197, 184) !important;
  }
*/
  .node {
    cursor: pointer;

/*
    .circle {
      stroke: steelblue;
      stroke-width: 2.5px;
    }
*/

    .text {
      font-size:10px;
      font-family:sans-serif;
    }

    .node-image {
      border-style: solid;
      border-width: 10px;
      border-radius: 100%;
    }

  }

  .overlay{
    // background-image: url(../assets/paper.jpg);
    background-color: rgba(227, 227, 227, 0.25);
    background-size: 100% 100%;
  }

  .link {
    fill: none;
    stroke: #929292;
    stroke-width: 3px;
  }

  .templink {
    fill: none;
    stroke: #B5B5B5;
    stroke-width: 3px;
  }

/*
  .selected {
    width: 75px;
    height: 75px;
    text-align: center;
    vertical-align: middle;

    -webkit-box-shadow: -6px -8px 10px #F8A50E, -4px 7px 10px #BFF80E, 6px -4px 10px #0ED6F8;
    -moz-box-shadow: -6px -8px 10px #F8A50E, -4px 7px 10px #BFF80E, 6px -4px 10px #0ED6F8;
    box-shadow: -6px -8px 10px #F8A50E, -4px 7px 10px #BFF80E, 6px -4px 10px #0ED6F8;

    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;

    -webkit-transition: box-shadow .4s ease;
    -moz-transition: box-shadow .4s ease;
    -o-transition: box-shadow .4s ease;
    -ms-transition: box-shadow .4s ease;
    transition: box-shadow .4s ease;
  }
*/
  .sideBar {
    top: 30px;
    position: absolute;
  }

/* ================ shadow effect ================= */


.effect8
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

