/* ============== General =============== */

button:focus {outline:0;}





/* ============== TOP BAR =============== */
.topBar{
  height: 50px;
  background-color: white;
  -webkit-box-shadow: 0 5px 6px -6px rgba(158, 171, 195, 0.59);
     -moz-box-shadow: 0 5px 6px -6px rgba(158, 171, 195, 0.59);
          box-shadow: 0 5px 6px -6px rgba(158, 171, 195, 0.59);

  nav{
    position: absolute;
    vertical-align: text-top;
    display: inline;
    text-align: center;
    margin-left: 250px;
    margin-top: 10px;
    a {
      height: 50px;
      color: #5A5958;
      padding-left: 10px;
      padding-right: 10px;
      text-decoration: none;
    }
  }
  .topBarLeft{
    height: 60px;
  }

  .greeting{
    position: absolute;
    display: inline;
    font-size: 20px;
    height: 50px;
    margin-left: 20px;
    margin-top: 15px;
  }

  img{
    padding: 5px;
    margin-left: 20px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
  }
}

  .authButton {
    margin-left: 300px;
    -moz-box-shadow:inset 0px 39px 0px -24px #e67a73;
    -webkit-box-shadow:inset 0px 39px 0px -24px #e67a73;
    box-shadow:inset 0px 39px 0px -24px #e67a73;
    background-color:#e4685d;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    border:1px solid #ffffff;
    display:inline-block;
    cursor:pointer;
    color:#fff;
    font-size:15px;
    padding:6px 15px;
    text-decoration:none;
    text-shadow:0px 1px 0px #b23e35;
  }
  .authButton:hover {
    background-color:#eb675e;
  }
  .authButton:active {
    position:relative;
    top:1px;
  }


/* ================ Auth ================= */


.authPage{

  .authBanner{

    height: 300px;
    background-image: url("../assets/authbanner.jpg");

  }

  .authBannerTitle{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
    font-size: 90px;
    vertical-align: middle;
  }



}
/* ================ Home ================= */

.playList{
  padding: 30px;
}




/* ================ MusicPlayer ================= */
$common-padding: 5px;
$animate-sec: 1.5s;

.audio-player {
  background: #eeeeee;
  vertical-align: middle;
  padding: $common-padding;
      width: 90%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.audio-button-panel {
  padding-top: 2px;
}

.audio-refresh-animate {
  -webkit-animation: rotating $animate-sec linear infinite;
  -moz-animation: rotating $animate-sec linear infinite;
  -ms-animation: rotating $animate-sec linear infinite;
  -o-animation: rotating $animate-sec linear infinite;
  animation: rotating $animate-sec linear infinite;
}

.audio-progress-container {
  float: left;
  height: 34px;
  border-right: 1px solid #aaaaaa;
  border-left: 1px solid #aaaaaa;
  width: 90%;
}

.audio-progress-container-short-width {
  width: 130px;
}

.audio-progress {
  background: #666666;
  width: 100%;
  height: 100%;
}

.audio-songs-list {
  float: left;
  margin-left: $common-padding;
}

.audio-song-item-not-selected {
  float: left;
  display: block;
  width: 14px;
  height: 1px;
}

.audio-song-item-label {
  padding-left: $common-padding;
}

.audio-volume-bar-container {
  float: left;
  padding-left: $common-padding;
  padding-top: 2px;

  .btn:focus {
    background-color: #fff;
    outline: none;
  }

  .audio-volume-bar {
    position: absolute;
    z-index: 1001;
    background: #ddd;
  }

  .audio-volume-bar-hide {
    display: none;
  }

  .audio-volume-percent-container {
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    width: 34px;
    height: 100px;
    position: relative;
    cursor: pointer;
  }

  .audio-volume-min-max {
    width: 100%;
    height: 30px;
    text-align: center;
    cursor: pointer;
    span {
      top: 6px;
    }
  }

  .audio-volume-percent {
    width: 100%;
    bottom: 0;
    top: 50%;
    background: #666;
    position: absolute;
  }

}

.audio-desc-container {
  width: 100%;
  vertical-align: middle;
  padding-top: 3px;
}

.audio-time {
  margin-left: $common-padding;
}

.audio-name-label {
  max-width: 180px;
  height: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

@-webkit-keyframes rotating {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
