/* ============== General =============== */

button:focus {outline:0 !important;}
input:focus {outline:0 !important;}
body{min-width: 700px;}

/* =============== Font ================ */

@font-face {
    font-family: nexaBold;
    src: url(../assets/font/NexaBold.otf);
}

@font-face {
    font-family: nexaLight;
    src: url(../assets/font/NexaLight.otf);
}




/* ============== TOP BAR =============== */
.topBar{
  height: 80px;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 6px -6px rgba(158, 171, 195, 0.59);
     -moz-box-shadow: 0 5px 6px -6px rgba(158, 171, 195, 0.59);
          box-shadow: 0 5px 6px -6px rgba(158, 171, 195, 0.59);

  nav{
    float: right;
    vertical-align: text-top;
    display: inline;
    text-align: right;
    margin-top: 20px;
    margin-right: 10px;
    width: 220px;
    a {
      height: 50px;
      color: #000;
      padding-left: 10px;
      padding-right: 10px;
      text-decoration: none;
    }
  }
  .topBarLeft{
    height: 60px;
  }

  .logoTitle{
    color: white;
    font-size: 30px;
  }

  .greeting{
    position: absolute;
    display: inline;
    font-size: 20px;
    height: 50px;
    margin-left: 20px;
    margin-top: 15px;
  }

  img{
    padding: 5px;
    margin-left: 20px;
    height: 60px;
    margin-top:10px;
  }
}

  .authButton {
    -moz-box-shadow:inset 0px 39px 0px -24px #e67a73;
    -webkit-box-shadow:inset 0px 39px 0px -24px #e67a73;
    box-shadow:inset 0px 39px 0px -24px #e67a73;
    background-color:#e4685d;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    border:none;
    display:inline-block;
    cursor:pointer;
    color:#fff;
    font-size:15px;
    padding:6px 15px;
    text-decoration:none;
    text-shadow:0px 1px 0px #b23e35;
  }
  .profileButton2{
    -moz-box-shadow:inset 0px 39px 0px -24px #e67a73;
    -webkit-box-shadow:inset 0px 39px 0px -24px #e67a73;
    box-shadow: inset 0px 39px 0px -24px #569EAD;
    background-color: #50919E;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    border:none;
    display:inline-block;
    cursor:pointer;
    color:#fff;
    font-size:15px;
    padding:6px 15px;
    text-decoration:none;
    text-shadow:0px 1px 0px #b23e35;
  }

  .authButton:active {
    position:relative;
    top:1px;
  }


/* ================ Auth ================= */


.authPage{

  .authBanner{

    height: 300px;
    background-image: url("../assets/authbanner.jpg");

  }

  .authBannerTitle{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
    font-size: 90px;
    vertical-align: middle;
  }



}

/* ================ profile ================= */
.boxed-group-profile{
    margin-top: 30px;
    margin-left: 3%;
    padding-left: 3%;
    min-width: 500px;
    min-height: 400px;
    z-index: 10;
    border: 0px;
    float: left;
    border-left: 1px;
    border-color: rgba(13, 92, 109, 0.24);
    border-style: solid;
    max-width: 70%;
}
.pageTitle{
    text-align: center;
    color: #1C3B73;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 24px;
    display: block;
}
.profileItem{
  position: absolute;
  width: 400px;;
  top: 120px;
  left: 15%;
}

.edit-profile-avatar{
  margin: 15px 0;
  height: 150px;
}
#avatar{
    float: left;
    height: 100px;
    display: inline-block;
    overflow: hidden;
    line-height: 1;
    vertical-align: middle;
    border-radius: 3px;
}
.edit-profile{
  margin: 15px 0;
}
.edit-profile-avatar{
  margin: 15px 0;
  height: 150px;
}
.profile-input{
  width: 56%;
  margin-top: 5px;
  min-width: 180px;
}

.fileupload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileupload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}









/* ================ Home ================= */

.userSongTitle{
    font-size: 20px;
    position: absolute;
    margin-left: 50%;
    margin-top: 35px;
    color: #FFFFFF;
}
  .playerBox {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
  }

.playList{
    background: #FFFFFF;
    vertical-align: middle;
    height: 100%;
}
.songPanel {
    padding: 10px;
    z-index: 2;
    height: 76px;
    width: 350px;
    background-color: #A6D1E0;
    border-radius: 10px;
}
.hideItem{
  visibility: hidden;
}

.songBox {
    margin-left: 15px;
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 15px;
}

.songItem{
    z-index: 3;
    float: left;
    width: 350px;
    padding: 8px;
    border-radius: 10px;
    background-color: #bed4de;
  .title{
    font-size: 15px;
    color: white;
    text-transform: capitalize;
  }
}
  .itemOther{
    font-size: 14px;
    margin-top: 3px;
    color: #6A8E9B;
    float: left;
    margin-right: 5px;
    width: 26px;
    padding: 3px 0px 0px 7px;
    background-color: white;
    text-align: center;
    height: 26px;
    border-radius: 18%;
    display: -webkit-inline-box;
  }

.songItem:hover{
  transition: background-color .3s;
  background-color: #879EAB;
}

.like-count{
  font-size: 20px;
  color: #FF598E;
  float: right;
}

.banner{
  height: 400px !important;
  width: 100%;
}
.bannerTitle{
  font-weight: bold;
  font-size: 40px;
}

.bannerText{
  padding-bottom: 100px;
}
/* ================ User Panel ================= */
.profilePage{
  .randomBG{
    height: 100px;
    width: 100%;

  }

  .profileImg{
      float: left;
      width: 100px;
      height: 100px;
      display: inline;
      top: 120px;
      left: 15%;
      border-radius: 100%;
      border-width: 5px;
      border-color: white;
      border-style: solid;
          z-index: 11;
  }
  .profileButton{
    font-family: nexaLight;
    background-color: #FFFFFF;
    outline: 0;
    color: #C7ABAB;
    border-style: solid;
    border-width: 1px;
    border-color: #ECCCDB;
    border-right: 0px;
    border-left: 0px;
    border-top: 0px;
    margin: 10px;
    display: block;
  }
  .profileButton:hover{
    color: #D21D6F;
    border-color: #D21D6F;
  }
  .profileButtonCollection{
    margin-top: 40px;
    margin-left: 7%;
    min-width: 100px;
    display: inline;
    float: left;
  }

}
.profileUsername{
    font-family: nexaLight;
    text-transform: capitalize;
    float: left;
    font-size: 25px;
    left: 24%;
    display: inline;
    margin-top: 60px;
}



/* ================ MusicPlayer ================= */
$common-padding: 5px;
$animate-sec: 1.5s;

.audio-player {
  min-width: 780px;
    background: url(../assets/random-bg/playerbg3.jpg);
    vertical-align: middle;
    padding: 10px 0px 0px 0px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.audio-button-panel {
  padding-top: 2px;
  margin-left: 20px;
}

.audio-refresh-animate {
  -webkit-animation: rotating $animate-sec linear infinite;
  -moz-animation: rotating $animate-sec linear infinite;
  -ms-animation: rotating $animate-sec linear infinite;
  -o-animation: rotating $animate-sec linear infinite;
  animation: rotating $animate-sec linear infinite;
}

.audio-progress-container {
  float: left;
  height: 30px;
  border-right: 2px solid white;
  border-left: 2px solid white;
  width: 85%;
}

.audio-progress-container-short-width {
  width: 130px;
}

.audio-progress {
  background: rgba(80, 83, 120, 0.73);
  width: 100%;
  height: 100%;
}

.audio-songs-list {
  float: left;
  margin-left: $common-padding;
}

.startbutton{
  margin-left: 15px;
}

.audio-song-item-not-selected {
  float: left;
  display: block;
  width: 14px;
  height: 1px;
}

.audio-song-item-label {
  padding-left: $common-padding;
}

.audio-rbtn{
  margin-top: 2px;
  margin-left: 2px;
}


.audio-volume-bar-container {
  float: left;
  padding-left: $common-padding;
  padding-top: 2px;

  .btn:focus {
    background-color: #fff;
    outline: none;
  }

  .audio-volume-bar {
    position: absolute;
    z-index: 1001;
    background: #ddd;
  }

  .audio-volume-bar-hide {
    display: none;
  }

  .audio-volume-percent-container {
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    width: 34px;
    height: 100px;
    position: relative;
    cursor: pointer;
  }

  .audio-volume-min-max {
    width: 100%;
    height: 30px;
    text-align: center;
    cursor: pointer;
    span {
      top: 6px;
    }
  }

  .audio-volume-percent {
    width: 100%;
    bottom: 0;
    top: 50%;
    background: #666;
    position: absolute;
  }

}

.audio-desc-container {
  margin-top: 10px;
  width: 100%;
  vertical-align: middle;
  padding: 5px;
  background-color: rgba(241, 172, 213, 0.42);
  color: white;
}

.audio-time {
  margin-left: $common-padding;
  margin-right: 15px;
}

.audio-name-label {
    padding-left: 20px;
    height: 20px;
    overflow: hidden;

}

  .userPlayButton{
    position: absolute;
    margin-left: 70%;
    margin-top: 25px;
    width: 60px;
    height: 50px;
    border-radius: 10%;
    font-size: 25px;
  }

@keyframes rotating {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

@-webkit-keyframes rotating {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

/* ================ Tree ================= */


  .treeDiv {
    position: relative;
    background-color: #F7F7F7;
    .sideBar {
      float: right;
      width: 25%;
      border: 3px solid black;
      padding: 5px;
    }
  }

  .treeBox{
    margin-right: auto;
    margin-left: auto;
    width: 900px;
  }

/*
  .nodeCircle{
    fill:rgb(20, 197, 184) !important;
  }
*/
  .node {
    cursor: pointer;

/*
    .circle {
      stroke: steelblue;
      stroke-width: 2.5px;
    }
*/

    .text {
      font-size:10px;
      font-family:sans-serif;
    }

    .node-image {
      border-style: solid;
      border-width: 10px;
      border-radius: 100%;
    }

  }

  .overlay{
      background-color:#F7F7F7;
  }

  .link {
    fill: none;
    stroke: #F1D2AF;
    stroke-width: 3px;
  }

  .templink {
    fill: none;
    stroke: red;
    stroke-width: 3px;
  }

/* ================ shadow effect ================= */


.effect8
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

